Python es lenguaje de programación que se usa para muchas cosas. Se basa en listas, es muy completo. Tienes un intérprete interactivo y te permite saber si lo que estás haciendo si va bien o no

Pandas es una librería para el tratamiento de datos, para modificar y tratar datos. Es capaz de leer un montón de tipos de datos (CSV, SQL, Excel…) y lo lee en una tabla. Permite exportar los datos a otro tipo de archivos 
https://github.com/jvns/pandas-cookbook

import pandas as pd

Función con paréntisis
Arrays con corchetes 
Llaves para definir diccionarios

Tipos de datos en Python (tipos de objetos)

In [ ]:
# integer (int) o enteros: números sin decimales
3 + 5

In [ ]:
#operación módulo, da el resto de la división entera
10 % 2

In [ ]:
# float (con decimales, con el punto)
4.45 + 4

In [ ]:
Float(“12”) 
#Convierte un número en un número entero y con decimal

In [ ]:
# cómo puedo saber si algo es de tipo float o no, preguntando type
type(4)

In [ ]:
type(8.5)

bool (verdadero y falso)

In [ ]:
True

In [ ]:
false

In [ ]:
# los mensajes de error dan información sobre erroes. En este caso, True y False deben ir en mayúsculas. por eso True aparece en verde, porque está bien

In [ ]:
# puedo preguntar si algo es mayor que otro

In [ ]:
3 < 5

In [ ]:
5 == 3 + 2
#cuando hacemos esto, es preguntar y por eso requiere == porque son exactamente iguales. Si no, es una atribución

In [ ]:
5 != 3 + 2    #¿son distintos?

Variables

In [ ]:
# son nombres que le doy a los datos
x = 9

In [ ]:
x + 9

In [ ]:
y + 2 
# y no está definida y por eso da error

Tipos de datos más complejos (no escalares)
Listas, tuplas
strings
diccionarios

In [ ]:
# listas
# colección de elementos que se encierran con corchetes [] y los elementos están separados por comas

In [ ]:
numeros = [2, 3, 6, 7, 7]

In [ ]:
type(numeros)

In [ ]:
precios = [8.4, 7.23, 4, 9, 0]

In [ ]:
#precios y números son listas, que son variabales

operaciones que puedo realizar con las listas

In [ ]:
# añadir elementos con append y se añaden al final

numeros.append(100)

In [ ]:
numeros

In [ ]:
# eliminar elementos dentro de la lista: con remove (solo elimina la primera vez que aparece un valor, si hubiera varios, haríamos un bucle)

numeros.remove(100)
numeros

In [ ]:
#cuántos precios tengo, el número de elementos que tiene una lista: len
len(precios)

operación de acceso a los elementos de una lista

In [ ]:
# los elementos están indexados empezando desde cero. para acceder a los elementos de las listas utilizao el operador [---]
#los accesos: a una clave de una diccionario, elementos de una lista... todo se hace con [...]

In [ ]:
precios[0]

In [ ]:
precios[3]

In [ ]:
precios[-1]    #accedes por atrás

In [ ]:
# acceder a un trozo, desde dónde hasta dónde. El último número no lo incluye
precios[0:3]

In [ ]:
precios[-3:]   #me piden los tres últimos

In [ ]:
precios[0: 10: 2]   # va del 0 al 10 de valores, pero saltando dos en este caso

 Modificar los elementos de una lista

In [ ]:
precios[0] = 2 #le estoy diciendo que el 2 se guarde en primer lugar y modifica el primer elemento

In [ ]:
# insert me permite meter un valor más en cualquier posición 
precios.insert(0, 5000)

In [ ]:
precios.insert?

In [ ]:
Signature: precios.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [ ]:
#la primera posición de insert es la posciión,la segunda es el valor

In [ ]:
precios.pop?

tuplas

In [ ]:
#son coleeciones de elementos que están encerrados con paréntesis (). No se pueden añadir más valores.
#son inmutables, son rígidas. No puedo cambiarles el valor. pero sí se puede hacer acceso

In [ ]:
coordenadas = (1, 5)

In [ ]:
type(coordenadas)

In [ ]:
#no se pueden modificar

Strings (str)

In [ ]:
# se usan mucho en análisis de datos: los nombres, calles, NIF, etc, son string
#son datos que se ecnierran entre comillas, simples o dobles "", de manera indistinta
#son colecciones de caracteres. Los strings son inmutables también

In [ ]:
nombre = "Adolfo"
apellido1 = "Galán"
apellido2 = "Ruiz"

Operaciones con strings

In [ ]:
# suma, para concatenar: +
nombre_completo = nombre + apellido1
nombre_completo

In [ ]:
nombre_completo = nombre + " " + apellido1
nombre_completo

In [ ]:
nombre_completo = nombre + " " + apellido1 + " " + apellido2
nombre_completo

In [ ]:
numero = "52248921452"
letra = 'N'
nif = numero + letra

In [ ]:
nif

In [ ]:
nif[-1]

In [ ]:
datos = "14.123345 $" + 5
#no puede hacerlo porque uno es un string y otro un valor exacto. Si lo pogno como string el 5, también me va a salir algo raro

In [ ]:
datos = "14.123345 $" + "5"
datos

In [ ]:
datos.split() #para separar los valores

In [ ]:
importe = datos.split()[0] #asignamos una de esas particiones a una nueva variable

In [ ]:
importe

In [ ]:
importe = float(importe)
importe
#Transformamos el importe a float y ya podría hacer operaciones

In [ ]:
datos.split?

In [ ]:
importe + 4

In [ ]:
#otro caso de split en el que el símbolo esté pegado
salario = "33.1€"
salary = salario.replace("€", "")
salary

In [ ]:
salario3 = salario[0:-1]
salario3

In [ ]:
#son strings y se comportan como listas, son listas de caracters

instrucción for
Son para hacer bucles o loops Permite repetir una operación varias veces. Posiblemente con valores distintos

In [ ]:
#un bucle recorre una colección de elementos

In [ ]:
for x in precios:
    print(x)
    
# ese print, como lo quiero repetir, tiene que estar tabulado, sino da error de indentation

In [ ]:
#imprimir el 20% de cada uno de los precios

for x in precios:
    iva = x * 0.21
    print(iva)

In [ ]:
lista = [5, 4, 5, 6, 7, 8, 5, 5]

In [ ]:
lista.remove(5)
lista
#solo ha borrado el primer 5. Para quitar todos los 5 se puede hacer con for

In [ ]:
for x in lista:
    if x == 5:
        lista.remove(5)

In [ ]:
#no borra todo porque no es el método apropiado. Lo aproiafo es While
#sirve para hacer bucles y permite repetir una oepración varias veces con valores diferentes

In [ ]:
lista = [5, 4, 5, 6, 7, 8, 5, 5]
while 5 in lista:
    lista.remove(5)
    
lista

Funciones

Dos tipos de funciones: nuestras o propias

Propias de Pytnon
Max
Print

In [ ]:
type(8)

In [ ]:
len("rRRRR")

In [ ]:
#algunas funciones están predefinidas por python pero otras las podemos hacer nosotros

In [ ]:
def sumar_yo(x, y, z):
    resultado = x + y + z
    return resultado

# def es para crearlo, luego el nombre y luego lista de parámetros que quiero añadir. 
#Añado dos puntos y le pongo lo que quiero hacer con la función

In [ ]:
sumar_yo(2, 3, 5)

In [ ]:
def letra(nif):
    return nif[-1]

In [ ]:
w = "12345678B"
letra(w)

In [ ]:
nifs = ["123456R", "578398384J", "80686033C"]
#quiero sacar la letra de todoslos nifs y son muchos

In [ ]:
for valor in nifs:
    l = letra(valor)
    print(l)

Folium es una librería para generar mapas en python, encapsula leaflet.js
Con una exclamación ejecuto algo fuera de Python. 
PIP es un gesto de paquetes en en Pythom. PIP es la herramienta oficial de Python para instalar librerías

¡pip install Folium

Pd.DataFrame() es una especie de hoja de cálculo, tipo Excel, columnas, índice y filas

Se lo podemos asignar a una variable, por ejemplo, A = pd.DataFrame

Para referirnos a una sola parte, A[columnaX]
Si quiero solo un dato concreto de esa columa , A[columnaX][Numero]

Puedo cambiar los nombres de las filas
Índice = [“nombre1”, “nombre2”,…] etc
A.index = índice

In [ ]:
Df = pd.read_csv(url, delimeter=”;”=)
#Delimiter por si no es coma de sepración de campos
#Pd.read_puede ser json o cualquier otro fomrao
#En lugar de url puedes bajarte la BBDD y poner la ruta en tu ordenador

In [ ]:
Df = pd.read_csv(“bbdd.csv”)

In [ ]:
Df.columns
#Muestra las columnas
Df[“unadelascolumnasquenos interese”]

In [ ]:
Df.[“columna”].unique
#Muestra la columna sin valores repetidos

In [ ]:
df.drop
#para eliminar algo. Lo el pvimer varlo son las filas, si lo quiero en columnas tengo que añadir 
df.drop(columna, axis=1)

In [ ]:
#Para separar valores dentro de una columna (por ejemplo, logitud y latitud, nombre y apelliods…=

Df[“columna”][0]
#Estoy seleccionando la columna 0, el primer valor que hay dentro

In [ ]:
df.set_index(“X”)
#para cambiar el index de una tabla, para que en lugar por ejemplo de número sea una lización

In [ ]:
#para covertir una cadena de caracterss a número

pd.to_numeric([“1212”, “3939339”])

In [ ]:
#Si hay caracteres no lo reconoce. Entonces si ve error, que lo conveirtae n NA
Pd.to_numeric([“1213”, “15653”, “-“], errors=”coerce”)

In [ ]:
Df[“columna”][0],Split(“,”)

#Estoy separando la columna en dos por una coma

In [ ]:
#Crear una nueva varibale
pointStr = Df[“columna”][0],Split(“,”)
#que tiene dos valores, lo dos que he separado de una colmna

In [ ]:
#para convertir esos valores en números
[float(pointStr[0]), float(poinStr[1])

In [ ]:
#creo un data frame que sea coordaenas con latitud y gitu
coordenadas = pd.DataFrame{“long”:longitudes, “lat”:latitudes}

In [ ]:
coordenadasCIUDAD [ coordnadas, cooordneadas]
mapa = folium.map(coordeanaasCIUDAD)

In [ ]:
url = “página web”

marcadaor = folium.Maker(coordenadasCiudad,popup=”Ciudad”=
mapa = mapa.add_child)marcador=

In [ ]:
For índice, fila in nombreBBDD.iterrows():
	Marcador = folium.Maker([fila[“lat”, fila[“long”]], Popoup=fila[type])
Mapa.add_child(marcador)

In [ ]:
#mapas de calaor
from folium import plugns
form folium.plugins import heatmap

mapa = folium.map(crdenadas ciudad)
m.add_child)heatmpa=

In [ ]:
Requests
Import requests

#Sirve para hacer peticiones HTTP

r = requests.get(“dirección web”)
r.text
muestra el texto
r.text[]

In [ ]:
#Para crear gracifos

df.plot(kind=”loquesea”)

BeautifulSouyp
Permite, una vez cogido el contendí de una web con requests, se parsea

In [ ]:
Import bs54 from BeautifulSoup
Soup = Beautifusl.Soup(r.text, “html.parser”)

#Para tener texto, que es lo que me interesa
Soup.get_text()

In [ ]:
Loquetengaguardado.strip
#Te quita los caracteres raros

In [ ]:
Soup.find_all(“loqueuierabuscar”) (H2, link, etc)